// container default margins
$container-margin-xs: 0 20px !default;
$container-margin-ms: 0 20px !default;
$container-margin-sm: 0 auto !default;
$container-margin-md: 0 auto !default;
$container-margin-lg: 0 auto !default;
$container-margin-xl: 0 auto !default;

// container default widths
$container-width-xs: auto !default;
$container-width-ms: auto !default;
$container-width-sm: 728px !default;
$container-width-md: 984px !default;
$container-width-lg: 1240px !default;
$container-width-xl: 1400px !default;

// container narrow margins
$container-narrow-margin-xs: 0 40px !default;
$container-narrow-margin-ms: 0 40px !default;
$container-narrow-margin-sm: 0 auto !default;
$container-narrow-margin-md: 0 auto !default;
$container-narrow-margin-lg: 0 auto !default;
$container-narrow-margin-xl: 0 auto !default;

// container narrow widths
$container-narrow-width-xs: auto !default;
$container-narrow-width-ms: auto !default;
$container-narrow-width-sm: 628px !default;
$container-narrow-width-md: 884px !default;
$container-narrow-width-lg: 1140px !default;
$container-narrow-width-xl: 1300px !default;
